.title{
    display: inline-block;
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
    color: #eee;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 600;
    font-size:32px;
}

.title span{
    color: #04B4E0;
}



.tit{
    display: inline-block;
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
    color: #eee;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 600;
    font-size:21px;
}

.tit span{
    color: #04B4E0;
}
.tit:after{
    position: absolute;
    opacity: 0.45;
    top: 13px;
    right: -13px;
    content: '';
    height: 20px;
    width: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 0;
}
.about{
    height: 79vh;
    overflow: auto;
    width: 99%;
}

.title:after{
    position: absolute;
    opacity: 0.45;
    top: 14px;
    right: -27px;
    content: '';
    height: 30px;
    width: 50px;
    background-image: -webkit-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 0;
}


.block_1{
    display: flex;
    padding:40px;
}

.block_1_text{
    font-size: 15px;
    font-family: 'Poppins', Helvetica, sans-serif;
    line-height: 1.65em;
    color: #d5d5d5;
    padding-top: 15px;
}

.block_1_info{
    padding-left: 35px;
    padding-top:15px;
}
.name{
    color: #06A6CE;
    font-size: 15px;
    font-family: 'Poppins', Helvetica, sans-serif;
    line-height: 1.65em;
    padding-right: 5px;
}

.info{
    color: #d5d5d5;
    font-size: 15px;
    font-family: 'Poppins', Helvetica, sans-serif;
    line-height: 1.65em;
}
.main_tit{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0px 5px;
}
.tit_block{
   display: flex;
   flex-direction: column;
   width: 300px;
   padding-left:3px;
}

.icon{
    font-size: 40px;
    color:#0D88A6;
    margin-top:25px;
}

.tit_name{
    font-size: 18px;
    color: #eee;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 600;
}

.tit_text{
    font-family: 'Poppins', Helvetica, sans-serif;
    line-height: 1.65em;
    font-size: .95em;
    color: #C0C0C0;
}



/*scroll_bar*/

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 25px;
    visibility: hidden;
}

::-webkit-scrollbar-track:hover{
    background-color: #B5B6B7;
    visibility: visible;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #98999A;
    border-radius: 25px;
    visibility: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #04B4E0;
    visibility: visible;
}

/*scroll bar end*/


.TestimonialsMain{
    position: relative;
}

.Testimo{
    display: inline-block;
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
    color: #eee;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 21px;
}

.Testimo:after{
    position: absolute;
    opacity: 0.45;
    top: 15px;
    right: -10px;
    content: '';
    height: 20px;
    width: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 0;
}

.testimBlock1{
    text-align: center;
    border: 2px solid #444;
    border-radius: 20px;
    margin: 75px 2px 10px;
    padding: 0 25px 15px 25px;
    width: 320px;

}

.testimBlock1 img{
max-width: 90px;
max-height: 90px;
margin: -45px auto 20px;
border-radius: 90px;
box-shadow: 0px 10px 10px -8px rgb(0 0 0 / 22%);
}



.testimText{
    font-size: 15px;
    font-family: 'Poppins', Helvetica, sans-serif;
    line-height: 1.65em;
    overflow: hidden;
    color: #d5d5d5;
}

.testimName{
    color: #eee;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.testimTITLE{
    color: #a5a6a7;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
}

.testimBlock2{
    display: flex;
    justify-content: space-around;
    padding-top:20px;
}