.main{
    width: 350px;
    background-color: #444444;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.img{
    width: 183px;
    height: 183px;
    margin: 60px auto 20px;
    z-index:0;
    position: relative;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img::after{
    position: absolute;
    opacity: 0.3;
    top: 7%;
    left: 7%;
    border-radius: 300px;
    content: '';
    height: calc(100% + 0px);
    width: calc(100% + 0px);
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: -1;
}


.name{
    font-size: 36px;
    font-weight: 600;
    color: #f5f5f5;
    margin: 5px 0 7px;
    line-height: 1.2em;
    text-align: center;
}

.proffesia{
    font-size: 18px;
    font-weight: 300;
    color: #bbb;
    margin: 5px 0;
    line-height: 1.2em;
    text-align: center;
    padding-top:10px;
}

.icons{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top:10px;
}
.icons a{
    text-decoration: none;
    color:white;
    border-radius: 20px;
    font-size: 18px;
    padding: 0;
    height: 30px;
    width: 30px;
    display: block;
    padding:3px;
}
.icons a:hover{
    border:1px solid #696969;
    border-radius: 50%;
    background-color: #696969;
}

.home_file{
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    display: none;

}

.lb{
    /*padding: 15px 55px;*/
    width:180px;
    height: 40px;
    cursor: pointer;
    display: block;
    border:2px solid white;
    border-radius: 30px;
    color:white;
    text-align: center;
    font-size: 1em;
    line-height: 1.2;
    margin:0px auto;
    padding-top:7px;
    padding-bottom: 7px;
    margin-top:40px;
}

.lb:hover{
    background-color: white;
    color: aqua;
}
.inf{
    color: #bbb;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    margin-top:30px;
}
