.title{
    display: inline-block;
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
    color: #eee;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 600;
    font-size:32px;
}

.title:after{
    position: absolute;
    opacity: 0.45;
    top: 14px;
    right: -27px;
    content: '';
    height: 30px;
    width: 50px;
    background-image: -webkit-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 0;
}

.main{
    height: 79vh;
    overflow: auto;
    width: 100%;
}
.mainBlock{
    display: flex;
    flex-wrap: wrap;
    padding:25px 15px;
}
.block{
    width: 310px;
    height: 270px;
    background-color: #444444;
    margin:15px;

}

.imgBlock{
    width: 100%;
    height: 150px;
}

.imgBlock img{
    width: 100%;
}

.dat{
    color: #aaa;
    font-size: 11px;
    line-height: 1.1em;
    font-weight: 300;
    padding:15px 20px;
}

.name{
    font-size: 18px;
    color: #eee;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 600;
    padding:10px 20px;
}





/*.imgBlock:hover {*/
/*    position: absolute;*/
/*    background: #4f565e;*/
/*    background: rgba(0, 0, 0, .12);*/
/*    display: inline-block;*/
/*    font-family: 'Linearicons-Free';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-variant: normal;*/
/*    text-transform: none;*/
/*    line-height: 1;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*    width: 100%;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    top: 0;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*    -webkit-transition: all 0.2s ease-in-out;*/
/*    -moz-transition: all 0.2s ease-in-out;*/
/*    -o-transition: all 0.2s ease-in-out;*/
/*    -ms-transition: all 0.2s ease-in-out;*/
/*    transition: all 0.2s ease-in-out;*/
/*}*/























::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 25px;
    visibility: hidden;
}

::-webkit-scrollbar-track:hover{
    background-color: #B5B6B7;
    visibility: visible;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #98999A;
    border-radius: 25px;
    visibility: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #04B4E0;
    visibility: visible;
}