.card1 {
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  background-image: url(../../images/main_bg.png);
  background-color: #04b4e0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  will-change: transform;
}
body {
  overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
}

.content{
    position: absolute;
    display: flex;
    top:calc(15%);
    border-radius: 30px;
}


.contents_block{
    width: 750px;
    background-color: #222222;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding:0px 10px;
    padding-top:3px!important;
}

.nav{
    position: relative;
    left:20px;
    border-radius: 25px;
}

.bar{
    position: relative;
    left:20px;
}


.test{
    position: absolute;
    width: 94%;
    max-width: 1280px;
    min-height: 80vh;
    margin: 10vh auto;
    padding: 0;
    /*background-color: #444;*/
    /*border-radius: 32px;*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
}

