.rec.rec-arrow {
    border-radius: 5px;
    width: 30px!important;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 15px;
    background-color: #444444!important;
    color: #C6C6C6;
    height: 30px!important;
    min-width: 30px!important;
    line-height: 30px!important;
    -webkit-align-self: center;
    cursor: pointer;
    position: relative;
}

/* round buttons on hover */
.rec.rec-arrow:hover {
    background-color: #04B4E0!important;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
    visibility: visible;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
    /*outline: none;*/
    /*box-shadow: inset 0 0 1px 1px lightgrey;*/
}
.rec-arrow-left{
    position: absolute !important;
    right: 35px;
    top: 30px;
}

.rec-arrow-right{
    position: absolute !important;
    right: 0;
    top: 30px;
}
.sc-gKsewC{
    display: none;
}