.title{
    display: inline-block;
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
    color: #eee;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 600;
    font-size:32px;
}

.title:after{
    position: absolute;
    opacity: 0.45;
    top: 14px;
    right: -27px;
    content: '';
    height: 30px;
    width: 50px;
    background-image: -webkit-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #04b4e0, #04b4e0 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 0;
}

.blogImg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:0px 20px;
}

.imgName{
    color:white;
    padding:10px 0px;
}
.images{
    width: 200px;
    height: 200px;
}

.bar{
    margin:30px;
}
.bar span{
    padding:10px;
    cursor: pointer;
}
.active{
    color:white;
}

.unactive{
    color:#747474;
}

















.port{
    height: 79vh;
    overflow: auto;
    width: 100%;
}




::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 25px;
    visibility: hidden;
}

::-webkit-scrollbar-track:hover{
    background-color: #B5B6B7;
    visibility: visible;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #98999A;
    border-radius: 25px;
    visibility: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #04B4E0;
    visibility: visible;
}