.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    color:white;
}

.name{
    color: #f5f5f5;
    font-size: 60px;
    line-height: 74px;
}